<html>
    <head>
     <link rel="stylesheet" type="text/css" href="page.css"/>
    </head>
    <body>
        <form action="/inscription" method="post"> 
          <h3 class="formulaire">Le formulaire</h3>
           <p class="name">Prénom: <input type="text" name="formulaire[prenom]" size="20"/></p>
           <p class= "name">Nom: <input type="text" name="formulaire[nom]" size="20"/></p>
           <p class="name">Votre Email: <input type="text" name="formulaire[mail]" size="20"/></p>

          <input class="bonjour" type="submit" value="CLIQUEZ ICI">

        </form>
    </body>
</html>

