<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf_8">
          <link rel="stylesheet" type="text/css" href="style.css">
          <title>Test sinatra formulaire et Base de données</title>
     </head>

     <body>
          <header>BIENVENUE</header>
          <%= yield %>
     </body>
</html>
